.cd {
    align-items: center;
}

.card {
    padding: 20px;
    background-color: rgba(35, 125, 204, 0.241);
    margin-top: 20px;
    border-radius: 20px;    
    width: 500px;
    margin-left: 485px;

}

.education_card {
    text-align: center;
}